@using UIConfiguration.Models
@using UIConfiguration.Utils
@model List<User>
@{
    ViewBag.Title = "Smart Mirror Login";
    ColorGenerator colorGen = new ColorGenerator();
}

<div id="user-selection">
    <div class="row">
        <div class="col-md-12">
            <h2>Select User</h2>
            <div class="row">
                @foreach (User u in Model)
                {
                    <div class="col-md-2">
                        <div class="userlist userbox">
                            <input type="hidden" name="userId" value="@u.ID" />
                            <div class="user-thumbnail">
                                <div class="thumbnailImage" id="thumbnail" style="background-color: @colorGen.getColor( @u.Name.ToUpper().First())">
                                    
                                    @u.Name.ToUpper().First()
                                </div>
                            </div>
                            <div class="username" id="username">
                                @u.Name
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-2">
                    <div class="userlist userbox" id="registration-box">
                        <div class="user-thumbnail">
                            <div class="thumbnailImage" id="thumbnail" style="color: #fff">
                                <span><i class="fa fa-plus"></i></span>
                            </div>
                        </div>
                        <div class="username" id="username">
                            <span>New User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
        });

        $(".userbox").on("click", function () {
            var userid = $(this).children().closest("input").val();
            var url = '@Url.Action("Login", "Account", new { id = "userid"})';
            url = url.replace("userid", userid);
            window.location.href = url;
        });

        $("#registration-box").on("click", function () {
            var url = '@Url.Action("Registration", "Account")';
            window.location.href = url;

        });
    </script>
}